<h1>My name is S. Baker</h1>
<p>I am a coding student that is very interested in learing how to program. I believe this will be a very important skill to have in the future.</p>
<h4 class="left">My Interests Include (but are not limited to):</h4>
<ul class="left">
  <li>Dentistry</li>
  <li>Science</li>
  <li>Coding</li>
  <li>Sports</li>
  <li>Art</li>
  <li>Music</li>
  <li>Martial Arts</li>
</ul>
