<div class="app-card-container">
  <div class="card">
    
    <h1>My name is S. Baker</h1>
    
    <hr>
    
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "glasses_cat.jpg", width: 300, alt:"Profile Image", class: 'profile-img' %>
        <p> An EXACT depiction of me.</p>
      </div>
      
      <div class="col-md-8">
        <p>I am a coding student that is very interested in learing how to program. I believe this will be a very important skill to have in the future.</p>
        <h4>My Interests Include (but are not limited to):</h4>
        <ul>
          <li>Dentistry</li>
          <li>Science</li>
          <li>Coding</li>
          <li>Sports</li>
          <li>Art</li>
          <li>Music</li>
          <li>Martial Arts</li>
        </ul> 
        
        <p>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controler="jobHistory"
          >
            Job History
          </button>

          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controler="education"
          >
            Education
          </button>
        </p>

        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              Job 1
            </div>
            <div class="card card-block">
              Job 2
            </div>
          </div>

          <div class="collapse" id="education">
            <div class="card card-block">
              School 1
            </div>
            <div class="card card-block">
              School 2
            </div>
            <div class="card card-block">
              School 3
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>