<div class="inner cover">
  <h1 class="cover-heading">Welcome to my Portfolio Site</h1>
  <p class="lead"> If you do not know who "my" is reffering to, I am not sure why you are at this site. Of all the sites on the internet, you stumbled into this one. It must be fate. If you choose to continue with your fate and want to know who I am, or have a reason to go to this site and want to learn more about me, then the button below will lead you on your way. </p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>









